.ant-menu {
  background: $brand_color !important;
  color: white;
  a {
    display: inline-block;
    color: white;
  }
  icon {
    color: white;
  }
  //  .ant-menu-item-selected {
  //   background: rgb(30, 71, 138) !important; /*Overriden property*/
  // }
  .selected-menu {
    background: rgb(30, 71, 138) !important;
  }
}

.header {
  background: $brand_color;
  height: 100px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgb(253, 68, 68);
  .language {
    position: absolute;
    left: 10px;
    top: 10px
  }
  .ant-dropdown-link {
    max-height: 25px;
  }
  img {
    width: 150px;
    height: auto;
  }
}